<!DOCTYPE html>
<html>
<head>
  <title>CodeTweet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default background-nav">
    <div class="container-fluid ">
      <div class="row ">
        <div class="row navbar-brand col-sm-4 ">
          <a class="col-sm-offset-4" href="/tweets/new">New Tweet &lt/&gt</a>
        </div>
        <h1 class="text-center col-sm-4">Code-tweet</h1>
        <ul class="col-sm-4 nav navbar-nav navbar-right">
          <div class="row">
            <div class= "col-sm-4 col-sm-offset-6  margin-top">
              <li><a class="btn" href="/users/sign_up">Sign Up</a> &nbsp <a href="/users/sign_in">Log In</a></li>
            </div>
          </div>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
